.bottom-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

    overflow: hidden;
}

.bottom-left-section, .bottom-middle-section, .bottom-right-section{
    background-color: transparent;
}

.bottom-left-section, .bottom-right-section{
    flex: 1;
}


.bottom-right-text{
    text-align: right;
    margin-right: 10px;
    font-weight: 600;
}


.bottom-left-text, .bottom-right-text{
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #FEFDED;
    margin-left: 10px;
    font-size: 1.6vh;

}


.bottom-middle-section{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.social-icons{
    width: 3vh;
    background-color: transparent;
    cursor: pointer;
}

strong{
    font-weight: 600;
    background-color: transparent;
}