

.book-container{
    margin-top: 5vh;
    background-color: #FEF3E2;
    border-radius: 5px;
    padding: 20px;
    box-shadow: -1px 3px 8px 5px rgba(0,0,0,0.15);

    display: flex;
    align-content: center;

    width: 85%;
    min-height: 30vh;

    column-gap: 1vw;

    overflow: auto;
}

.book-cover-picture{
    width: 20vh;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.book-information{
    display: flex;
    flex-direction: column;
    max-width: 100rem;
}

.book-title{
    font-size: 1.5rem;

    font-weight: bold;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;

    max-width: max-content;
    text-decoration: none;
    margin-bottom: 0px;


    text-wrap: break-word;
    color: #171515;
    transition: background-color 0.3s ease;
}

.book-title:hover{
    background-color: rgba(158,198,134, 0.6);
    text-decoration: underline;
}

.book-author-title{
    font-size: 2vh;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;


}

.star-rating{
    padding-left: 10px;
    margin-top: -5px;
    display: flex;
    align-items: center;
    column-gap: 10px;

}

.star-icon{
    width: 2vw;
}

.rating-text{
    font-size: 2.2vh;
    font-style: italic;
    font-weight: 500;
    
}

.book-review-text{
    padding-left: 10px;
    width: 100%;
    font-size: 1.8vh;
    padding-right: 10px;
}